mixin include-script(path)
    -var wordpressPath = '<?php echo get_template_directory_uri().\''+path+'\'?>'
    if wordpress == false
        script(type="text/javascript").
            requirejs(["!{path}"], function(){ })
    else
        script(type="text/javascript").
            requirejs(["!{wordpressPath}"], function(){ })