include ../../util/include/include-script.pug

+include-script('./resources/js/welcome.js')
div(class="welcome parallax-container")
    div(class="welcome-message-container parallax-element")
        h1(class="welcome-message" id="welcome-message-1")
