
<script type="text/javascript">requirejs(["./resources/js/welcome.js"], function(){ })</script>
<div class="welcome parallax-container">
  <div class="video-background parallax-element">
    <video class="video-background-video" loop="loop" muted="muted" autoplay="autoplay">
      <source src="./resources/videos/timelapse2.mp4" type="video/mp4"/>
    </video>
    <div class="video-background-darken"></div>
  </div>
  <div class="welcome-message-container parallax-element">
    <h1 class="welcome-message" id="welcome-message-1"></h1>
    <div class="welcome-nav-container">
      <div class="welcome-nav welcome-nav-left"><a class="welcome-nav-button" href="#">Projects</a>
        <div class="welcome-nav-background"></div>
      </div>
      <div class="welcome-nav welcome-nav-right"><a class="welcome-nav-button" href="#">Contact</a>
        <div class="welcome-nav-background"></div>
      </div>
    </div>
  </div>
</div>